@font-face {
    font-family: 'Cafe24Decobox';
    src: url('../fonts/Cafe24Decobox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cafe24Decobox', Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 */
    background-color: #b6dbff; /* 배경색 변경 */
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

form input, form button {
    margin: 5px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.messages {
    width: 100%;
    max-width: 400px;
    text-align: left;
    padding: 20px; /* 흰색 배경을 없애기 위해 배경 색상 제거 */
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.messages p {
    display: block;
    background-color: #b6dbff; /* 채팅 배경색 설정 */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
